section.imgviewer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: -105%;
  top: 0;
}
.imgviewerok {
  left: 0 !important;
}
section.imgviewer {
  z-index: 5;
}
#singelimg > img {
  max-height: 80vh;
  max-width: 90vw;
}
.xbtn {
  padding: 8px;
  border: 2px solid var(--mtc);
}

main > section.pi {
  background: url(../img/IMG_1.webp);
}
main > section.st {
  background: url(../img/IMG_2.webp);
}
main > section.lan {
  background: url(../img/IMG_4.webp);
}
main > section.tr {
  background: url(../img/IMG_5.webp);
}
main > section.cs {
  background: url(../img/IMG_7.webp);
}
main > section.we {
  background: url(../img/IMG_6.webp);
}
main > section.backimg {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right;
}
.myimg > img {
  border-radius: 3rem 1rem 3rem 1rem;
  -webkit-border-radius: 3rem 1rem 3rem 1rem;
  -moz-border-radius: 3rem 1rem 3rem 1rem;
  -ms-border-radius: 3rem 1rem 3rem 1rem;
  -o-border-radius: 3rem 1rem 3rem 1rem;
  border: 0.8rem double var(--mtc);
}
.myimg > img:hover {
  border-radius: 1rem 3rem 1rem 3rem;
  -webkit-border-radius: 1rem 3rem 1rem 3rem;
  -moz-border-radius: 1rem 3rem 1rem 3rem;
  -ms-border-radius: 1rem 3rem 1rem 3rem;
  -o-border-radius: 1rem 3rem 1rem 3rem;
}
section.pi .pitem,
section.st .scientific {
  padding: 1rem 0;
}
section.pi .pitem > h5,
section.st .scientific > h5,
section.lan .mylan h5,
section.cs .item h5,
section.tr .trallitems > .item > h5,
section.we h5 {
  padding-left: 1rem;
}
section.st .scientific h3,
section.pi .pitem > h3,
section.lan .mylan h3,
section.cs .item h3,
section.tr .trallitems > .item > h3,
section.we h3 {
  position: relative;
}
section.st .scientific h3::before,
section.pi .pitem > h3::before,
section.lan .mylan h3::before,
section.cs .item h3::before,
section.tr .trallitems > .item > h3::before,
section.we h3::before {
  content: "";
  position: absolute;
  left: -20px;
  height: 100%;
  width: 5px;
}
section.st .scientific h3::before,
section.lan .mylan h3::before,
section.tr .trallitems > .item > h3::before,
section.we h3::before {
  background-color: var(--mc3);
}

section.pi .pitem > h3::before,
section.cs .item h3::before {
  background-color: var(--mc2);
}

section.pi .pitem > h5 > a {
  text-decoration: none;
  color: var(--mtc);
  padding: 0;
}
section.st .scientific button,
section.lan .mylan button {
  margin: 1rem 0rem;
  width: fit-content;
  height: fit-content;
}
button.btnpointerbtn {
  position: relative;
}
button.btnpointerbtn > span.btnspan {
  width: 2rem;
  height: 2rem;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 2px solid var(--mtc);
  display: flex;
  justify-content: center;
  align-items: center;
}
img.csimg {
  width: 5rem;
  height: 5rem;
  padding: 0;
}

a.welink {
  width: fit-content;
  text-decoration: none;
}
a.welink > div {
  width: min-content;
  height: min-content;
  background-color: var(--mtc);
  padding: 5px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
section.we a.welink > div > h6 {
  text-align: center;
}
section.we a.welink > div > h6 > b {
  color: var(--mc3);
}

section.we a.welink > div:hover {
  background-color: var(--mc1);
  box-shadow: 0 0 5px 1px var(--mtc);
}
section.we a.welink > div:hover > h6 > b {
  color: var(--mtc);
}
