main > section.one {
  background: url(../img/port-bg4.webp);
}
main > section.two {
  background: url(../img/port-bg1.webp);
}
main > section.backimg {
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top right;
}

.port.scormIMG > div {
  box-shadow: 0 0 5px 8px var(--mc1);
}
.port.scormIMG > div:hover {
  background-color: var(--mc1);
}

.port.gdIMG > div {
  box-shadow: 0 0 5px 8px var(--mc3);
}
.port.gdIMG > div:hover {
  background-color: var(--mc3);
}

.port > div {
  padding: 1rem;
  /* margin-bottom: 1rem; */
}
.port > div,
.port > div > img {
  border-radius: 0.5rem 1.5rem 0.5rem 1.5rem;
  -webkit-border-radius: 0.5rem 1.5rem 0.5rem 1.5rem;
  -moz-border-radius: 0.5rem 1.5rem 0.5rem 1.5rem;
  -ms-border-radius: 0.5rem 1.5rem 0.5rem 1.5rem;
  -o-border-radius: 0.5rem 1.5rem 0.5rem 1.5rem;
}
.port > div:hover {
  outline: 2px solid var(--mtc);
  transform: scale(1.07);
  border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  -webkit-border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  -moz-border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  -ms-border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  -o-border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
}
.port > div:hover > img {
  /* outline: 2px solid var(--mtc); */
  box-shadow: 0 0 10px 3px var(--mtc);
  border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  -webkit-border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  -moz-border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  -ms-border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
  -o-border-radius: 1.5rem 0.5rem 1.5rem 0.5rem;
}
